@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* Target the toast description */
.toast-description {
  color: gray !important; /* Change to desired color */
}


